body {
  background-color: lightyellow;
  font-family: Arial, sans-serif;
}

h1 {
  color: purple;
  text-align: center;
}

h2 {
  color: darkmagenta;
}

p {
  font-size: 16px;
}

img {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.centered {
  text-align: center;
}

nav {
  background-color: plum;
  padding: 10px;
}

nav a {
  margin-right: 15px;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

.adventure-photo {
  width: 50%;
  border-radius: 14px;
  margin-top: 14px;
}

#footer {
  text-align: center;
  font-style: italic;
}
